
* {
  user-select: none;
}

html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
}

#main-wrap {
    position: fixed;
    width: 100%;
    height: 100vh;
}
.wrapppp {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex;
}


/*====== NAVBAR ======*/
.hs-navbar {
    position: fixed;
    z-index: 999;
    height: 100vh;
    right: 0;
}
.hs-navbar ul {
    padding: 0;
    margin: 0;
    padding-top: 30px;
    padding-right: 30px;
}
.hs-navbar ul.hs-navlist li {
    list-style-type: none;
    display: block;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    padding: 15px;
}
.hs-navbar ul li a {
    color: #8798dc;
    transition: 0.5s;
}
.hs-navbar ul li a:hover {
    color: #ffffffd6;
}
.hs-navbar ul.hs-navlist li a {
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-weight: 600;
}
.hs-navbar ul.hs-navlist li.homelogo {
    padding: 24px 0;
}
.hs-navbar ul.hs-navlist li.homelogo a img {
    width: 50px;
    transform: rotate(90deg);
    position: relative;
    left: 5px;
}
.hs-navbar ul.hs-socialmedia {
    position: absolute;
    bottom: 0;
    padding-bottom: 40px;
    list-style: none;
}
.hs-navbar ul.hs-socialmedia li {
    padding: 2px 15px;
}
.hs-navbar ul.hs-socialmedia li a {
    font-size: 20px;
}



/*========== MAIN PAGE ===========*/
.mainpage {
    color: #fff;
}
.mainpage .container {
    display: table;
    height: 100vh;
    width: 100%;
}
.mainpage .title {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 50%;
}
.mainpage .title .box-title {
    text-align: left;
    width: 50%;
    justify-content: center;
    display: inline-grid;
}
.mainpage .title .box-title h1 {
    font-weight: 900;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: #0000;
    font-size: 120px;
    font-family: system-ui;
    line-height: 1;
}
.mainpage .title .box-title .creative-title {
    font-size: 30px;
    margin-left: -50px;
}
.mainpage .title .box-title .who-hanah {
    text-align: right;
    margin-top: 10px;
}
.mainpage .title .box-title .who-hanah a {
    color: #ffffffdb;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid #ffffffc7;
    border-radius: 20px;
    padding: 10px 15px;
    transition: 0.5s ease;
}
.mainpage .title .box-title .who-hanah a:hover {
    box-shadow: 1px 1px 10px #fff;
}
@media (max-width: 768px) { 
    .mainpage .title .box-title h1 {
        font-size: 90px;
    }
}
@media (max-width: 650px) { 
    .mainpage .title .box-title h1 {
        font-size: 45px;
    }
    .mainpage .title .box-title .creative-title {
        font-size: 15px;
        margin-left: -20px;
    }
    .mainpage .title .box-title .who-hanah {
        margin-top: 25px;
    }
    .mainpage .title .box-title .who-hanah a {
        font-size: 15px;
    }
    .hs-navbar ul {
        padding-right: 10px;
    }
    .hs-navbar ul.hs-socialmedia li a {
        font-size: 18px;
    }
}

/*========== ABOUT PAGE ===========*/
.aboutpage {
    color: #fff;
    position: relative;
    margin-bottom: 50px;
}
.aboutpage .about-box-bg {
    position: absolute;
    z-index: 1;
    height: 350px;
    width: 45%;
    background: #00778f;
    top: 30%;
    right: 0;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.aboutpage .container {
    display: table;
    height: 100vh;
    width: 100%;
}
.aboutpage .container .about-content {
    display: table-cell;
    vertical-align: bottom;
    height: 50%;
}
.aboutpage .container .about-content {
    position: relative;
    z-index: 2;
}
.aboutpage .about-text {
    font-size: 40px;
    padding-bottom: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    padding-right: 40px;
    display: table-cell;
    vertical-align: bottom;
    height: 100vh;

}
.btndownload {
    transition: all ease .3s;
}
.btndownload:hover {
    color: #fff!important;
}
.aboutpage .about-text .about-name {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    color: #03a7c9;
}
.aboutpage .about-icon {
    position: absolute;
    font-size: 100px;
    color: #ffffff4a;
    top: -30px;
    animation: flipicon 5s infinite;
}
.aboutpage .about-des {
    font-weight: 600;
    padding-top: 20px;
}
.aboutpage .about-app {
    position: relative;
}

@keyframes flipicon {
  0% {transform: rotateY(0deg);}
  25% {transform: rotateY(180deg);}
  75% {transform: rotateY(360deg);}
  100% {transform: rotateY(180deg);}
}

.progress {
    height: 0.3rem!important;
    background-color: #e9ecef69!important;
}
.aboutpage .about-progress {
    margin-top: 40px;
}
.aboutpage .about-progress h6 {
    font-size: 12px;
}
.aboutpage .about-center {
    display: table-cell;
    vertical-align: middle;
    height: 100vh;
    width: 100vh;
}
@media (max-width: 650px) { 
    .aboutpage .about-text {
        font-size: 22px;
        padding-right: 0px;
        padding-top: 50px;
        height: auto;
    }
    .aboutpage .container .about-content {
        padding: 0 40px;
    }
    .aboutpage .about-text .about-name {
        font-size: 30px;
    }
    .aboutpage .about-box-bg {
        display: none;
    }
    .aboutpage .about-center {
        vertical-align: baseline;
        height: auto;
    }
    .progress {
        width: 95%;
    }
}
@media (max-width: 425px) { 
    .col-xs-4 {
        flex: 0 0 auto!important;
        width: 33.33333333%!important;
    }
}

/*==========EXPERIENCE============*/
.experiencepage {
    padding: 100px 0;
    background-image: linear-gradient(#00000008,#131313);
}
.vertical-timeline--animate .vertical-timeline-element-icon i {
    color: #fff;
    font-size: 32px;
    padding-top: 2px;
    text-align: center;
}
/*==========WORK============*/
.workpage {
    padding: 100px 0;
    background-image: linear-gradient(#131313,#00000008);
}
.work-content {
    position: relative;
    max-width: 100%;
    padding-left: 28px;
    padding-right: 28px;
    display: flex;
    flex-wrap: wrap;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 33.333333%);
    width: 100%;
    padding-left: 12vw;
    grid-auto-rows: 32vmin;
}
.grid__cell {
    display: grid;
    align-items: center;
    margin: 1vw 0;
    min-height: 195px;
}
.grid__cell[class*=c1-r1] {
    grid-column: 1;
    grid-row: 1;
}
.grid__cell[class*=c2-r1] {
    grid-column: 2;
    grid-row: 1;
    margin-left: -7vw;
}
.grid__cell[class*=c1-r2] {
    grid-column: 1;
    grid-row: 2;
}
.grid__cell[class*=c2-r2] {
    grid-column: 2;
    grid-row: 2;
    padding-left: 1vw;
}
.grid__cell[class*=c2-r3] {
    grid-column: 2;
    grid-row: 3;
}
.grid__cell[class*=c3-r3] {
    grid-column: 3;
    grid-row: 3;
    padding-left: 1vw;
}
.grid__cell[class*=c2-r4] {
    grid-column: 2;
    grid-row: 4;
}
.grid__cell[class*=c3-r4] {
    grid-column: 3;
    grid-row: 4;
    margin-left: -8.5vw;
}
.grid__cell[class*=c1-r5] {
    grid-column: 1;
    grid-row: 5;
}
.grid__cell[class*=c2-r5] {
    grid-column: 2;
    grid-row: 5;
    margin-left: -14vw;
}
.grid__cell[class*=c2-r5] {
    margin-left: -11vw;
}
[class*=heading] {
    font-size: 2.7vw;
    color: #fff;
    font-family: 'Roboto Condensed';
}
h3[class*=inline] {
    position: relative;
    display: inline-block;
}
h3 [class*=div] [class*=line], [class*=h3] [class*=div] [class*=line] {
    padding-top: 0.5vh;
    transform-origin: 0 50%;
    white-space: nowrap;
    will-change: transform;
    display: block;
}
.content__item-text {
    max-width: 50ch;
    margin-bottom: 2rem;
    line-height: 1.33;
}
p [class*=split] {
    overflow: hidden;
}
p [class*=split] [class*=line] {
    transform-origin: 0 50%;
    white-space: nowrap;
    will-change: transform;
}
.grid__cell-img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    transition: transform 1s;
}
.grid__cell-img-inner {
    background-size: cover;
    background-position: 50% 0%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform: translateY(100%);
    filter: grayscale(1) saturate(0.5) contrast(0.8) brightness(0.8);
    position: relative;
    background-color: #f5eee6;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.grid__cell-img:hover {
    -ms-transform: scale(0.9)!important; /* IE 9 */
    -webkit-transform: scale(0.9)!important; /* Safari 3-8 */
    transform: scale(0.9)!important; 
}
.grid__cell-img-inner img {
    position: relative;
    top: inherit;
    left: inherit;
    transform: none;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: transform 1s;
}
.grid__cell-img-inner img:hover {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
}

@media screen and (max-height: 800px) {
    .grid {
        grid-auto-rows: initial;
        row-gap: 50px;
    }
}
@media screen and (max-width: 1700px) {
    .content__item-text {
        max-width: 30ch;
    }
}
html.modal-active, body.modal-active {
  overflow: hidden;
}

.modalcontainers {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}
.modalcontainers.openss {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modalcontainers.openss .modal-background .modal {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modalcontainers.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modalcontainers.out .modal-background .modal {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modalcontainers .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
.modalcontainers .modal-background .modal {
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
  background-image: linear-gradient(#fff,#928affa3);
}
.modalcontainers .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
.modalcontainers .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}
.modalcontainers .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
.modalcontainers .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}
.imgscroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    position: relative;
    z-index: 2;
}
.modaldesc {
    display: table-cell;
    height: 87vh;
    vertical-align: middle;
    text-align: center;
    width: 100vh;
    border-right: 1px solid #0a0086;
}
/* width */
.imgscroll::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.imgscroll::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.imgscroll::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
  transition: all ease 0.3s;
}

/* Handle on hover */
.imgscroll::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.btn_checkwebsite {
    margin-top: 20px;
    display: block;
    font-weight: 500;
    position: relative;
    z-index: 2;
    transition: all ease 0.3s;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@media (max-width: 768px) { 
    .expe-content {
        padding-right: 30px;
    }
    .vertical-timeline--animate .vertical-timeline-element-icon i {
        font-size: 21px;
        padding-top: 1px;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 0 25px;
}
.grid-container .grid-item {
    border: 1px solid rgb(32 21 53 / 0%);
    overflow: hidden;
}
.grid-container .grid-item .imgothercase {
    position: relative;
    height: 100%;
    filter: grayscale(1) saturate(0.5) contrast(0.8) brightness(0.8);
    cursor: pointer;
}
.grid-container .grid-item .imgothercase img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform .9s;
}
.grid-container .grid-item .imgothercase img:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
.othercase-title {
    color: #fff;
    font-size: 27px;
    font-weight: 500;
    padding: 0 25px;
    margin-top: 55px;
    margin-bottom: 20px;
}

@media (max-width: 1199px) {
    .grid {
        grid-template-columns: repeat(2, 50%);
        padding-left: 0px;
    }
    .grid__cell[class*=c1-r1] {
        margin: 1.5vw 0;
    }
    .grid__cell[class*=c2-r1] {
        margin-left: 0px;
    }
    .grid__cell[class*=c2-r2] {
        padding-left: 2vw;
        margin-left: 0px;
    }
    .grid__cell[class*=c3-r3] {
        grid-column: 1;
        padding-left: 0px;
    }
    .grid__cell[class*=c2-r4] {
        padding-left: 2vw;
    }
    .grid__cell[class*=c3-r4] {
        grid-column: 1;
        margin-left: 0px;
    }
    .grid__cell[class*=c2-r5] {
        margin-left: 0px;
    }
}
@media screen and (max-width: 768px) {
    .aboutpage .about-text {
    font-size: 30px;}
    .aboutpage .about-center {
        vertical-align: baseline;
        height: auto;
    }
}

@media screen and (max-width: 650px) {
    .grid__cell[class*=c1-r1] {
        display: none;
    }
    .grid__cell[class*=c2-r1] {
        grid-column: 1;
    }
    .grid__cell[class*=c1-r2] {
        grid-row: 2;
    }
    .grid__cell[class*=c2-r2] {
        display: none;
    }
    .grid__cell[class*=c2-r3] {
        grid-column: 1;
        grid-row: 3;
    }
    .grid__cell[class*=c3-r3] {
        display: none;
    }
    .grid__cell[class*=c2-r4] {
        display: none;
    }
    .grid__cell[class*=c3-r4] {
        grid-row: 4;
    }
    .grid__cell[class*=c1-r5] {
        display: none;
    }
    .grid__cell[class*=c2-r5] {
        grid-column: 1;
        grid-row: 5;
    }
    .grid {
        grid-template-columns: repeat(1, 100%);
        grid-auto-rows: 40vmin;
    }
    .work-title {
        margin-bottom: 30px;
    }
    .modaldesc {
        height: auto;
        margin-bottom: 20px;
        border-right: none;
        vertical-align: baseline;
    }
    .modalcontainers .modal-background .modal h2 {
        margin-bottom: 5px;
        font-size: 20px;
    }
    .modalcontainers .modal-background .modal p {
        font-size: 14px;
        line-height: 12px;
    }
    .btn_checkwebsite {
        margin-top: 5px;
    }
    .modalcontainers .modal-background .modal {
        padding: 50px 40px;
    }
}

/*==========CONTACT PAGE===========*/
.contact-page {
    padding: 100px 100px;
    position: relative;
    z-index: 1;
}
.hrconnect {
    background: #fff;
    color: #fff;
    opacity: 0.6;
}
.contact-title {
    padding-top: 100px;
}
.connect-icons {
    color: #fff;
}
.connect-pcon {
    padding-top: 50px;
}
.connect-icons li {
    padding-bottom: 10px;
}
.contact-page a {
    transition: all ease 0.3s;
    color: #bcc2ff;
}
.contact-page a:hover {
    color: #fff;
}
.connect-icons a i {
    margin-right: 10px;
}
@media (max-width: 625px) { 
    .work-content {
        padding-left: 40px;
        padding-right: 40px;

    }
    .othercase-title {
        padding: 0 40px;
    }
    .grid-container {
        padding: 0 40px;
    }
}


















