@import"https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap";.vertical-timeline * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.vertical-timeline {
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    padding: 2em 0
}

.vertical-timeline:after {
    content: "";
    display: table;
    clear: both
}

.vertical-timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: var(--line-color)
}

.vertical-timeline.vertical-timeline--one-column-right:before {
    right: 18px;
    left: unset
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline.vertical-timeline--two-columns {
        width:90%
    }

    .vertical-timeline.vertical-timeline--two-columns:before {
        left: 50%;
        margin-left: -2px
    }
}

.vertical-timeline-element {
    position: relative;
    margin: 2em 0
}

.vertical-timeline-element>div {
    min-height: 1px
}

.vertical-timeline-element:after {
    content: "";
    display: table;
    clear: both
}

.vertical-timeline-element:first-child {
    margin-top: 0
}

.vertical-timeline-element:last-child {
    margin-bottom: 0
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline-element {
        margin:4em 0
    }

    .vertical-timeline-element:first-child {
        margin-top: 0
    }

    .vertical-timeline-element:last-child {
        margin-bottom: 0
    }
}

.vertical-timeline-element-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 4px #fff,inset 0 2px 0 rgba(0,0,0,.08),0 3px 0 4px rgba(0,0,0,.05);
    box-shadow: 0 0 0 4px #fff,inset 0 2px #00000014,0 3px 0 4px #0000000d
}

.vertical-timeline--one-column-right .vertical-timeline-element-icon {
    right: 0;
    left: unset
}

.vertical-timeline-element-icon svg {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline--two-columns .vertical-timeline-element-icon {
        width:60px;
        height: 60px;
        left: 50%;
        margin-left: -30px
    }
}

.vertical-timeline-element-icon {
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden
}

.vertical-timeline--animate .vertical-timeline-element-icon.is-hidden {
    visibility: hidden
}

.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 .6s;
    animation: cd-bounce-1 .6s
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.vertical-timeline-element-content {
    position: relative;
    margin-left: 60px;
    background: #fff;
    border-radius: .25em;
    padding: 1em;
    -webkit-box-shadow: 0 3px 0 #ddd;
    box-shadow: 0 3px #ddd
}

.vertical-timeline--one-column-right .vertical-timeline-element-content {
    margin-right: 60px;
    margin-left: unset
}

.vertical-timeline-element--no-children .vertical-timeline-element-content {
    background: 0 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.vertical-timeline-element-content:after {
    content: "";
    display: table;
    clear: both
}

.vertical-timeline-element-content h2 {
    color: #303e49
}

.vertical-timeline-element-content .vertical-timeline-element-date,.vertical-timeline-element-content p {
    font-size: 13px;
    font-size: .8125rem;
    font-weight: 500
}

.vertical-timeline-element-content .vertical-timeline-element-date {
    display: inline-block
}

.vertical-timeline-element-content p {
    margin: 1em 0 0;
    line-height: 1.6
}

.vertical-timeline-element-title,.vertical-timeline-element-subtitle {
    margin: 0
}

.vertical-timeline-element-content .vertical-timeline-element-date {
    float: left;
    padding: .8em 0;
    opacity: .7
}

.vertical-timeline-element-content-arrow {
    content: "";
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #fff
}

.vertical-timeline--one-column-right .vertical-timeline-element-content-arrow {
    content: "";
    position: absolute;
    top: 16px;
    right: unset;
    left: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-left: 7px solid #fff
}

.vertical-timeline--one-column-right .vertical-timeline-element-content:before {
    left: 100%;
    border-left: 7px solid #fff;
    border-right: unset
}

.vertical-timeline-element--no-children .vertical-timeline-element-content:before {
    display: none
}

.vertical-timeline-element--no-children .vertical-timeline-element-content-arrow {
    display: none
}

@media only screen and (min-width: 768px) {
    .vertical-timeline-element-content h2 {
        font-size:20px;
        font-size: 1.25rem
    }

    .vertical-timeline-element-content p {
        font-size: 16px;
        font-size: 1rem
    }

    .vertical-timeline-element-content .vertical-timeline-element-date {
        font-size: 14px;
        font-size: .875rem
    }
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline--two-columns .vertical-timeline-element-content {
        margin-left:0;
        padding: 1.5em;
        width: 44%
    }

    .vertical-timeline--two-columns .vertical-timeline-element-content-arrow {
        top: 24px;
        left: 100%;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }

    .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
        position: absolute;
        width: 100%;
        left: 124%;
        top: 6px;
        font-size: 16px;
        font-size: 1rem
    }

    .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content,.vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content {
        float: right
    }

    .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content-arrow,.vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content-arrow {
        top: 24px;
        left: auto;
        right: 100%;
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    .vertical-timeline--one-column-right .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content-arrow,.vertical-timeline--one-column-right .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content-arrow {
        top: 24px;
        left: 100%;
        right: auto;
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content .vertical-timeline-element-date,.vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date {
        left: auto;
        right: 124%;
        text-align: right
    }
}

.vertical-timeline--animate .vertical-timeline-element-content.is-hidden {
    visibility: hidden
}

.vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 .6s;
    animation: cd-bounce-2 .6s
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline--two-columns.vertical-timeline--animate .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content.bounce-in,.vertical-timeline--two-columns.vertical-timeline--animate .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content.bounce-in {
        -webkit-animation:cd-bounce-2-inverse .6s;
        animation: cd-bounce-2-inverse .6s
    }
}

@media only screen and (max-width: 1169px) {
    .vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
        visibility:visible;
        -webkit-animation: cd-bounce-2-inverse .6s;
        animation: cd-bounce-2-inverse .6s
    }
}

@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px)
    }

    to {
        -webkit-transform: translateX(0)
    }
}

@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translate(-100px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        transform: translate(20px)
    }

    to {
        -webkit-transform: translateX(0);
        transform: translate(0)
    }
}

@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px)
    }

    to {
        -webkit-transform: translateX(0)
    }
}

@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translate(100px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        transform: translate(-20px)
    }

    to {
        -webkit-transform: translateX(0);
        transform: translate(0)
    }
}

*,:before,:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

:before,:after {
    --tw-content: ""
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,strong {
    font-weight: bolder
}


small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,select {
    text-transform: none
}

button,[type=button],[type=reset],[type=submit] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre {
    margin: 0
}

fieldset {
    margin: 0;
    padding: 0
}

legend {
    padding: 0
}

ol,ul,menu {
    list-style: none;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

input::-moz-placeholder,textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

button,[role=button] {
    cursor: pointer
}

:disabled {
    cursor: default
}

img,svg,video,canvas,audio,iframe,embed,object {
    display: block;
    vertical-align: middle
}

img,video {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

*,:before,:after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.inset-0 {
    inset: 0px
}

.bottom-0 {
    bottom: 0px
}

.bottom-32 {
    bottom: 8rem
}

.left-0 {
    left: 0px
}

.top-0 {
    top: 0px
}

.top-\[150px\] {
    top: 150px
}

.z-0 {
    z-index: 0
}

.z-10 {
    z-index: 10
}

.z-20 {
    z-index: 20
}

.m-3 {
    margin: .75rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.-ml-\[0\.6rem\] {
    margin-left: -.6rem
}

.-ml-\[35px\] {
    margin-left: -35px
}

.-mt-\[1rem\] {
    margin-top: -1rem
}

.-mt-\[6rem\] {
    margin-top: -6rem
}

.-mt-\[8rem\] {
    margin-top: -8rem
}

.mb-1 {
    margin-bottom: .25rem
}

.mb-4 {
    margin-bottom: 1rem
}

.ml-3 {
    margin-left: .75rem
}

.ml-\[50vw\] {
    margin-left: 50vw
}

.mt-10 {
    margin-top: 2.5rem
}

.mt-14 {
    margin-top: 3.5rem
}

.mt-2 {
    margin-top: .5rem
}

.mt-20 {
    margin-top: 5rem
}

.mt-4 {
    margin-top: 1rem
}

.mt-5 {
    margin-top: 1.25rem
}

.mt-\[10rem\] {
    margin-top: 10rem
}

.mt-\[16px\] {
    margin-top: 16px
}

.mt-\[50px\] {
    margin-top: 50px
}

.block {
    display: block
}

.flex {
    display: flex
}

.hidden {
    display: none
}

.h-10 {
    height: 2.5rem
}

.h-16 {
    height: 4rem
}

.h-28 {
    height: 7rem
}

.h-3 {
    height: .75rem
}

.h-4\/5 {
    height: 80%
}

.h-40 {
    height: 10rem
}

.h-5 {
    height: 1.25rem
}

.h-\[100vh\] {
    height: 100vh
}

.h-\[22px\] {
    height: 22px
}

.h-\[23px\] {
    height: 23px
}

.h-\[30px\] {
    height: 30px
}

.h-\[34px\] {
    height: 34px
}

.h-\[420px\] {
    height: 420px
}

.h-\[45\%\] {
    height: 45%
}

.h-\[45px\] {
    height: 45px
}

.h-\[46px\] {
    height: 46px
}

.h-\[60\%\] {
    height: 60%
}

.h-\[64px\] {
    height: 64px
}

.h-\[85px\] {
    height: 85px
}

.h-full {
    height: 100%
}

.h-screen {
    height: 100vh
}

.min-h-\[280px\] {
    min-height: 280px
}

.min-h-\[70vh\] {
    min-height: 70vh
}

.w-1 {
    width: .25rem
}

.w-10 {
    width: 2.5rem
}

.w-16 {
    width: 4rem
}

.w-28 {
    width: 7rem
}

.w-3 {
    width: .75rem
}

.w-4\/5 {
    width: 80%
}

.w-5 {
    width: 1.25rem
}

.w-\[100\%\] {
    width: 100%
}

.w-\[100px\] {
    width: 100px
}

.w-\[125px\] {
    width: 125px
}

.w-\[200px\] {
    width: 200px
}

.w-\[22px\] {
    width: 22px
}

.w-\[23px\] {
    width: 23px
}

.w-\[30px\] {
    width: 30px
}

.w-\[34px\] {
    width: 34px
}

.w-\[35px\] {
    width: 35px
}

.w-\[45\%\] {
    width: 45%
}

.w-\[45px\] {
    width: 45px
}

.w-\[60\%\] {
    width: 60%
}

.w-\[85px\] {
    width: 85px
}

.w-full {
    width: 100%
}

.w-screen {
    width: 100vw
}

.min-w-\[170px\] {
    min-width: 170px
}

.max-w-3xl {
    max-width: 48rem
}

.max-w-7xl {
    max-width: 80rem
}

.flex-1 {
    flex: 1 1 0%
}

.flex-\[0\.75\] {
    flex: .75
}

.flex-\[10\] {
    flex: 10
}

.flex-\[2\] {
    flex: 2
}

.cursor-pointer {
    cursor: pointer
}

.resize-none {
    resize: none
}

.list-none {
    list-style-type: none
}

.flex-row {
    flex-direction: row
}

.flex-col {
    flex-direction: column
}

.flex-col-reverse {
    flex-direction: column-reverse
}

.flex-wrap {
    flex-wrap: wrap
}

.items-start {
    align-items: flex-start
}

.items-center {
    align-items: center
}

.justify-start {
    justify-content: flex-start
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.justify-evenly {
    justify-content: space-evenly
}

.gap-1 {
    gap: .25rem
}

.gap-10 {
    gap: 2.5rem
}

.gap-14 {
    gap: 3.5rem
}

.gap-2 {
    gap: .5rem
}

.gap-3 {
    gap: .75rem
}

.gap-5 {
    gap: 1.25rem
}

.gap-6 {
    gap: 1.5rem
}

.overflow-hidden {
    overflow: hidden
}

.whitespace-nowrap {
    white-space: nowrap
}

.rounded-2xl {
    border-radius: 1rem
}

.rounded-3xl {
    border-radius: 1.5rem
}

.rounded-\[10px\] {
    border-radius: 10px
}

.rounded-\[20px\] {
    border-radius: 20px
}

.rounded-\[24px\] {
    border-radius: 24px
}

.rounded-full {
    border-radius: 9999px
}

.rounded-lg {
    border-radius: .5rem
}

.rounded-b-\[24px\] {
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px
}

.rounded-br-\[130px\] {
    border-bottom-right-radius: 130px
}

.rounded-br-\[150px\] {
    border-bottom-right-radius: 150px
}

.rounded-tl-\[150px\] {
    border-top-left-radius: 150px
}

.border-4 {
    border-width: 4px
}

.border-none {
    border-style: none
}

.border-dim {
    --tw-border-opacity: 1;
    border-color: rgb(102 102 110 / var(--tw-border-opacity))
}

.border-french {
    --tw-border-opacity: 1;
    border-color: rgb(181 181 186 / var(--tw-border-opacity))
}

.bg-\[\#0a0a0a\] {
    --tw-bg-opacity: 1;
    background-color: rgb(10 10 10 / var(--tw-bg-opacity))
}

.bg-\[rgba\(122\,122\,122\,0\.5\)\] {
    background-color: #7a7a7a80
}

.bg-eerieBlack {
    --tw-bg-opacity: 1;
    background-color: rgb(31 31 31 / var(--tw-bg-opacity))
}

.bg-flashWhite {
    --tw-bg-opacity: 1;
    background-color: rgb(244 244 246 / var(--tw-bg-opacity))
}

.bg-jet {
    --tw-bg-opacity: 1;
    background-color: rgb(41 41 41 / var(--tw-bg-opacity))
}

.bg-jetLight {
    --tw-bg-opacity: 1;
    background-color: rgb(51 51 51 / var(--tw-bg-opacity))
}

.bg-night {
    --tw-bg-opacity: 1;
    background-color: rgb(20 20 20 / var(--tw-bg-opacity))
}

.bg-taupe {
    --tw-bg-opacity: 1;
    background-color: rgb(153 153 161 / var(--tw-bg-opacity))
}

.bg-about {
    background-image: linear-gradient(165deg,rgba(244,244,246,1) 100%,rgba(122,122,122,1) 100%)
}

.bg-experience {
    background-image: linear-gradient(135deg,rgba(244,244,246,.5) 60%,rgba(10,10,10,.2) 100%),url(/assets/white-abstract-28311fe4.png)
}

.bg-experienceLight {
    background-image: linear-gradient(137deg,rgba(244,244,246,.5) 60%,rgba(10,10,10,.9) 60%)
}

.bg-hero-mobile {
    background-image: linear-gradient(137deg,rgba(244,244,246,.8) 60%,rgba(10,10,10,1) 60%)
}

.bg-tech {
    background-image: linear-gradient(165deg,rgba(20,20,20,.8) 100%,rgba(109,109,116,.8) 100%),url(/assets/nairobi-87db6c03.png)
}

.bg-cover {
    background-size: cover
}

.bg-center {
    background-position: center
}

.bg-no-repeat {
    background-repeat: no-repeat
}

.object-contain {
    -o-object-fit: contain;
    object-fit: contain
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.p-2 {
    padding: .5rem
}

.p-6 {
    padding: 1.5rem
}

.p-8 {
    padding: 2rem
}

.p-\[1px\] {
    padding: 1px
}

.px-12 {
    padding-left: 3rem;
    padding-right: 3rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.pb-10 {
    padding-bottom: 2.5rem
}

.pb-12 {
    padding-bottom: 3rem
}

.pl-2 {
    padding-left: .5rem
}

.pl-3 {
    padding-left: .75rem
}

.pl-\[2rem\] {
    padding-left: 2rem
}

.pr-3 {
    padding-right: .75rem
}

.pr-\[4\.5rem\] {
    padding-right: 4.5rem
}

.pt-12 {
    padding-top: 3rem
}

.pt-\[98px\] {
    padding-top: 98px
}

.text-center {
    text-align: center
}

.text-\[12px\] {
    font-size: 12px
}

.text-\[14px\] {
    font-size: 14px
}

.text-\[16px\] {
    font-size: 16px
}

.text-\[18px\] {
    font-size: 18px
}

.text-\[21px\] {
    font-size: 21px
}

.text-\[22px\] {
    font-size: 22px
}

.text-\[24px\] {
    font-size: 24px
}

.text-\[30px\] {
    font-size: 30px
}

.text-\[40px\] {
    font-size: 40px
}

.text-\[50px\] {
    font-size: 50px
}

.text-\[88px\] {
    font-size: 88px
}

.font-black {
    font-weight: 900
}

.font-bold {
    font-weight: 700
}

.font-extrabold {
    font-weight: 800
}

.font-medium {
    font-weight: 500
}

.font-semibold {
    font-weight: 600
}

.uppercase {
    text-transform: uppercase
}

.leading-\[18px\] {
    line-height: 18px
}

.leading-\[30px\] {
    line-height: 30px
}

.leading-none {
    line-height: 1
}

.tracking-\[1px\] {
    letter-spacing: 1px
}

.tracking-\[2px\] {
    letter-spacing: 2px
}

.tracking-\[3px\] {
    letter-spacing: 3px
}

.tracking-wider {
    letter-spacing: .05em
}

.text-dim {
    --tw-text-opacity: 1;
    color: rgb(102 102 110 / var(--tw-text-opacity))
}

.text-eerieBlack {
    --tw-text-opacity: 1;
    color: rgb(31 31 31 / var(--tw-text-opacity))
}

.text-french {
    --tw-text-opacity: 1;
    color: rgb(181 181 186 / var(--tw-text-opacity))
}

.text-jetLight {
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity))
}

.text-silver {
    --tw-text-opacity: 1;
    color: rgb(214 214 214 / var(--tw-text-opacity))
}

.text-taupe {
    --tw-text-opacity: 1;
    color: #575763
}

.text-timberWolf {
    --tw-text-opacity: 1;
    color: rgb(212 212 216 / var(--tw-text-opacity))
}

.opacity-\[0\.5\] {
    opacity: .5
}

.opacity-\[0\.8\] {
    opacity: .8
}

.opacity-\[0\.98\] {
    opacity: .98
}

.shadow-card {
    --tw-shadow: 0px 35px 120px -15px #1f1f1f;
    --tw-shadow-colored: 0px 35px 120px -15px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.transition {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.duration-\[0\.2s\] {
    transition-duration: .2s
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

@font-face {
    font-family: Arenq;
    src: url(/assets/arenq-9cb5ccda.otf)
}

@font-face {
    font-family: Mova;
    src: url(/assets/mova-1d2d6d8c.otf)
}

@font-face {
    font-family: Beckman;
    src: url(/assets/beckman-a7139702.otf)
}

@font-face {
    font-family: Overcame Bold;
    src: url(/assets/overcame-bold-55329540.woff)
}

@font-face {
    font-family: Overcame Outline;
    src: url(/assets/overcame-outline-c8da765a.woff)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color-scheme: dark
}

.nav-links:after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #292929;
    margin: auto;
    transition: .5s
}

.nav-links:hover:after {
    width: 70%
}

#about {
    margin-left: -24px;
    font-size: 100px
}

#projects {
    margin-left: -2px;
    font-size: 100px
}

#contact {
    margin-left: -20px;
    font-size: 95px;
    letter-spacing: -2px
}

.hero-heading {
    font-family: Poppins,sans-serif;
    text-transform: uppercase;
    font-weight: 700
}

.hash-span {
    margin-top: -100px;
    padding-bottom: 100px;
    display: block
}

.vertical-timeline.vertical-timeline-custom-line:before {
    background: rgb(66,66,66);
    background: linear-gradient(180deg,rgb(255 255 255 / 80%) 40%,rgba(234,234,236,.45) 100%)
}

.vertical-timeline-element-icon {
    box-shadow: 0 0 0 4px #afafafd2,inset 0 2px #00000014,0 3px 0 4px #0000000d
}

.glassmorphism {
    background: rgba(20,20,20,.7);
    box-shadow: 0 8px 32px #8585855e;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255,255,255,.18)
}

.card-shadow {
    box-shadow: #9b9b9b4d 0 2px 6px,#9b9b9b38 0 0 4px;
    border-radius: 24px
}

.black-gradient {
    background: #000000;
    background: linear-gradient(to right,#434343,#000000)
}

.bw-gradient {
    background: rgb(10,10,10);
    background: linear-gradient(180deg,rgba(10,10,10,.8) 40%,rgba(153,153,161,0) 70%)
}

.card-gradient {
    background: rgb(244,244,246);
    background: linear-gradient(158deg,rgba(153,153,161,1) 25%,rgba(153,153,161,1) 100%)
}

.canvas-loader {
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0)
}

@keyframes mulShdSpin {
    0%,to {
        box-shadow: 0 -2.6em #fff,1.8em -1.8em #fff3,2.5em 0 #fff3,1.75em 1.75em #fff3,0 2.5em #fff3,-1.8em 1.8em #fff3,-2.6em 0 #ffffff80,-1.8em -1.8em #ffffffb3
    }

    12.5% {
        box-shadow: 0 -2.6em #ffffffb3,1.8em -1.8em #fff,2.5em 0 #fff3,1.75em 1.75em #fff3,0 2.5em #fff3,-1.8em 1.8em #fff3,-2.6em 0 #fff3,-1.8em -1.8em #ffffff80
    }

    25% {
        box-shadow: 0 -2.6em #ffffff80,1.8em -1.8em #ffffffb3,2.5em 0 #fff,1.75em 1.75em #fff3,0 2.5em #fff3,-1.8em 1.8em #fff3,-2.6em 0 #fff3,-1.8em -1.8em #fff3
    }

    37.5% {
        box-shadow: 0 -2.6em #fff3,1.8em -1.8em #ffffff80,2.5em 0 #ffffffb3,1.75em 1.75em #fff,0 2.5em #fff3,-1.8em 1.8em #fff3,-2.6em 0 #fff3,-1.8em -1.8em #fff3
    }

    50% {
        box-shadow: 0 -2.6em #fff3,1.8em -1.8em #fff3,2.5em 0 #ffffff80,1.75em 1.75em #ffffffb3,0 2.5em #fff,-1.8em 1.8em #fff3,-2.6em 0 #fff3,-1.8em -1.8em #fff3
    }

    62.5% {
        box-shadow: 0 -2.6em #fff3,1.8em -1.8em #fff3,2.5em 0 #fff3,1.75em 1.75em #ffffff80,0 2.5em #ffffffb3,-1.8em 1.8em #fff,-2.6em 0 #fff3,-1.8em -1.8em #fff3
    }

    75% {
        box-shadow: 0 -2.6em #fff3,1.8em -1.8em #fff3,2.5em 0 #fff3,1.75em 1.75em #fff3,0 2.5em #ffffff80,-1.8em 1.8em #ffffffb3,-2.6em 0 #fff,-1.8em -1.8em #fff3
    }

    87.5% {
        box-shadow: 0 -2.6em #fff3,1.8em -1.8em #fff3,2.5em 0 #fff3,1.75em 1.75em #fff3,0 2.5em #fff3,-1.8em 1.8em #ffffff80,-2.6em 0 #ffffffb3,-1.8em -1.8em #fff
    }
}

.placeholder\:text-taupe::-moz-placeholder {
    --tw-text-opacity: 1;
    color: rgb(153 153 161 / var(--tw-text-opacity))
}

.placeholder\:text-taupe::placeholder {
    --tw-text-opacity: 1;
    color: rgb(153 153 161 / var(--tw-text-opacity))
}

.hover\:bg-battleGray:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(133 133 133 / var(--tw-bg-opacity))
}

.hover\:text-eerieBlack:hover {
    --tw-text-opacity: 1;
    color: rgb(31 31 31 / var(--tw-text-opacity))
}

.hover\:text-taupe:hover {
    --tw-text-opacity: 1;
    color: rgb(153 153 161 / var(--tw-text-opacity))
}

@media (min-width: 450px) {
    .xs\:bottom-10 {
        bottom:2.5rem
    }

    .xs\:w-\[250px\] {
        width: 250px
    }

    .xs\:p-8 {
        padding: 2rem
    }

    .xs\:py-8 {
        padding-top: 2rem;
        padding-bottom: 2rem
    }

    .xs\:pb-8 {
        padding-bottom: 2rem
    }

    .xs\:pt-8 {
        padding-top: 2rem
    }

    .xs\:text-\[20px\] {
        font-size: 20px
    }

    .xs\:text-\[40px\] {
        font-size: 40px
    }

    .xs\:text-\[50px\] {
        font-size: 50px
    }
}

@media (min-width: 640px) {
    .sm\:top-\[250px\] {
        top:250px
    }

    .sm\:-ml-\[3rem\] {
        margin-left: -3rem
    }

    .sm\:mt-0 {
        margin-top: 0
    }

    .sm\:mt-\[22px\] {
        margin-top: 22px
    }

    .sm\:block {
        display: block
    }

    .sm\:flex {
        display: flex
    }

    .sm\:hidden {
        display: none
    }

    .sm\:h-11 {
        height: 2.75rem
    }

    .sm\:h-80 {
        height: 20rem
    }

    .sm\:h-\[26px\] {
        height: 26px
    }

    .sm\:h-\[34px\] {
        height: 34px
    }

    .sm\:h-\[50px\] {
        height: 50px
    }

    .sm\:h-\[58px\] {
        height: 58px
    }

    .sm\:h-\[90px\] {
        height: 90px
    }

    .sm\:h-\[90vh\] {
        height: 90vh
    }

    .sm\:w-11 {
        width: 2.75rem
    }

    .sm\:w-\[130px\] {
        width: 130px
    }

    .sm\:w-\[138px\] {
        width: 138px
    }

    .sm\:w-\[148px\] {
        width: 148px
    }

    .sm\:w-\[26px\] {
        width: 26px
    }

    .sm\:w-\[34px\] {
        width: 34px
    }

    .sm\:w-\[50px\] {
        width: 50px
    }

    .sm\:w-\[90px\] {
        width: 90px
    }

    .sm\:flex-row {
        flex-direction: row
    }

    .sm\:gap-4 {
        gap: 1rem
    }

    .sm\:bg-hero {
        background-image: linear-gradient(135deg,rgba(244,244,246,.8) 60%,rgba(10,10,10,.95) 60%)
    }

    .sm\:p-16 {
        padding: 4rem
    }

    .sm\:px-16 {
        padding-left: 4rem;
        padding-right: 4rem
    }

    .sm\:py-16 {
        padding-top: 4rem;
        padding-bottom: 4rem
    }

    .sm\:pb-16 {
        padding-bottom: 4rem
    }

    .sm\:pl-16 {
        padding-left: 4rem
    }

    .sm\:pt-16 {
        padding-top: 4rem
    }

    .sm\:text-\[14px\] {
        font-size: 14px
    }

    .sm\:text-\[16px\] {
        font-size: 16px
    }

    .sm\:text-\[18px\] {
        font-size: 18px
    }

    .sm\:text-\[20px\] {
        font-size: 20px
    }

    .sm\:text-\[26px\] {
        font-size: 26px
    }

    .sm\:text-\[27px\] {
        font-size: 27px
    }

    .sm\:text-\[32px\] {
        font-size: 32px
    }

    .sm\:text-\[48px\] {
        font-size: 48px
    }

    .sm\:text-\[60px\] {
        font-size: 60px
    }

    .sm\:text-\[90px\] {
        font-size: 90px
    }

    .sm\:leading-\[24px\] {
        line-height: 24px
    }

    .sm\:text-battleGray {
        --tw-text-opacity: 1;
        color: rgb(133 133 133 / var(--tw-text-opacity))
    }

    .sm\:opacity-\[0\.97\] {
        opacity: .97
    }

    .sm\:opacity-\[0\.9\] {
        opacity: .9
    }
}

@media (min-width: 768px) {
    .md\:ml-\[60vw\] {
        margin-left:60vw
    }

    .md\:h-\[70vh\] {
        height: 70vh
    }

    .md\:text-\[60px\] {
        font-size: 60px
    }
}

@media (min-width: 900px) {
    .xmd\:ml-\[60vw\] {
        margin-left:60vw
    }
}

@media (min-width: 1025px) {
    .lg\:bottom-\[7rem\] {
        bottom:7rem
    }

    .lg\:top-\[150px\] {
        top: 150px
    }

    .lg\:ml-\[75vw\] {
        margin-left: 75vw
    }

    .lg\:w-\[80\%\] {
        width: 80%
    }

    .lg\:flex-\[0\.5\] {
        flex: .5
    }

    .lg\:flex-\[3\.5\] {
        flex: 3.5
    }

    .lg\:origin-\[0\,0\] {
        transform-origin: 0,0
    }

    .lg\:rotate-\[-90deg\] {
        --tw-rotate: -90deg;
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .lg\:flex-row {
        flex-direction: row
    }

    .lg\:text-\[30px\] {
        font-size: 30px
    }

    .lg\:text-\[80px\] {
        font-size: 80px
    }

    .lg\:leading-\[40px\] {
        line-height: 40px
    }

    .lg\:leading-\[90px\] {
        line-height: 90px
    }
}

@media (min-width: 1280px) {
    .xl\:top-\[250px\] {
        top:250px
    }

    .xl\:h-\[80vh\] {
        height: 80vh
    }

    .xl\:flex-row {
        flex-direction: row
    }
}

@media (min-width: 1536px) {
    .\32xl\:ml-\[83vw\] {
        margin-left:83vw
    }

    .\32xl\:max-w-\[1280px\] {
        max-width: 1280px
    }
}
